<!DOCTYPE html>
<html>
    <head>
        <title>Fargate Demo</title>
    </head>
    <body>
        <p>Hello from Fargate, host {{ hostname }}</p>
        <p>Number of times visited: {{ visits }}</p>
    </body>
</html>
